#con {
    font-family: monospace;
    font-size: small;
    overflow: scroll;
    height: 250px;
    resize: vertical;
}
.err {
    color: #dc3545;
}
.progress-bar {
    transition: none !important;
}