#con {
    font-family: monospace;
    font-size: small;
    overflow-y: scroll;
    height: 250px;
    resize: vertical;
}

#con>p {
    margin: 0px;
}

.error {
    color: #dc3545;
}

.debug {
    color: #808080;
}

#langSelect {
    width: fit-content;
}

.collapse-name {
    font-weight: normal;
    text-decoration: solid;
}

.collapsible {
    transition: max-height 0.5s;
    max-height: 10em;
    overflow: hidden;
}

.footer-collapsed {
    max-height: 0px !important;
    overflow: hidden;
}

#content,
#footer {
    min-width: 470px;
    transition: min-height 0.5s;
    transition: opacity 0.5s;
}

body {
    opacity: 0;
}

body,
* {
    transition: background-color 0.5s, color 0.2s, opacity 0.2s;
}

#reloadBadge,
#cookieBadge,
#logLinesBadge {
    display: none;
}

#dragDrop {
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
}
