#con {
    font-family: monospace;
    font-size: small;
    overflow: scroll;
    height: 250px;
    resize: vertical;
}

#con > p {
    margin: 0px;
}

.err {
    color: #dc3545;
}

#langSelect {
    width: fit-content;
}

.collapse-name {
    font-weight: normal;
    text-decoration: solid;
}

.collapsible {
    transition: max-height 0.5s;
    max-height: 10em;
    overflow: hidden;
}

.collapsed {
    max-height: 0px !important;
    overflow: hidden;
}

#footer {
    margin: 2em;
}

html, #footer {
    min-width: 470px;
}
